* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oxanium', cursive;
}

li {
    display: inline;
    margin-right: 10px;
}

.container {
    overflow: auto;
    display: block;
    margin: 20px;
}

.header h1 {
    float: left;
}

.header nav {
    position: absolute;
    right: 0;
    top: 40px;
}

.item {
    float: left;
    width: 30%;
    margin: 10px;
}

.item footer {
    margin-top: 10px;
    font-size: 14px;
}

.item > .image {
    display: block;
    width: 75%;
}

.footer {
    margin-top: 100px;
    font-size: 14px;
    text-align: center;
}
