body {
    font-family: 'Oxanium', cursive;
}
i {
    font-family: fontawesome !important;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* header */
.header {
    background-color: RGB(249, 201, 16);
    position: relative;
    overflow: auto;
    height: 50px;
}
.header h1 {
    position: absolute;
    float: left;
    margin: 0px;
    font-weight: bold;
    margin-left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}
.header nav {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    margin-right: 2%;
}
.header ul {
    margin: 0px;
}
.header ul li {
    list-style-type: none;
    position: relative;
    float: left;
}
.header img {
    position: relative;
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}
.header .text {
    position: relative;
    width: 140px;
    transform: translate(0, 40%);
}

/* search */
.search {
    background-color: RGB(249, 201, 16);
    display: block;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 1000px;
    border-radius: 10px;
    animation-name: appear1;
    animation-duration: 1s;
}
@keyframes appear1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
.search form {
    margin: 0px;
    padding: 20px;
}
.search input[type=text] {
    position: relative;
    float: left;
    height: 2em;
    margin: 0px 20px 20px 0px;
    border-radius: 5px;
    border: 1px solid RGB(233, 233, 233);
    padding-left: 2%;
}
.search form input[name=search] {
    width: 48%;
}
.search form input[name=location] {
    width: 33%;
}
.search form button {
    position: absolute;
    float: left;
    top: 50%;
    height: 50%;
    width: 9%;
    transform: translate(0, -50%);
    border: none;
    border-radius: 5px;
}
.search form button:hover {
    background-color: RGB(211, 211, 211);
}

/* categories */
.categories {
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 1000px;
    border-radius: 10px;
    border: 2px solid RGB(249, 201, 16);
    animation-name: appear2;
    animation-duration: 1s;
}
@keyframes appear2 {
    from {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
.categories ul {
    padding: 20px;
    margin: 0px;
}
.categories ul li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 25%;
    margin-bottom: 20px;
    height: 50px;
}
.categories img {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: RGB(256, 256, 256);
}
.categories .text {
    position: absolute;
    margin-left: 50px;
    padding-left: 10px;
    width: 50%;
    top: 50%;
    transform: translate(0, -50%);
}
.categories .text:hover {
    text-decoration: underline;
}

/* ads */
.ads {
    position: relative;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 1000px;
    padding: 0px 20px 0px 20px;
    animation-name: appear2;
    animation-duration: 1.5s;
}
@keyframes appear3 {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}
.ads h2 {
    font-size: 1.5em;
    margin: 20px 0px 20px 0px;
}
.ads article {
    position: relative;
    float: left;
    width: 22%;
    margin-bottom: 4%;
    padding-left: 4%;
}
.ads article:nth-child(4n+2) {
    padding-left: 0px;
}
.ads header:hover {
    border-radius: 10px;
    background-color: RGB(249, 201, 16);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.ads .image {
    background-color: RGB(233, 233, 233);
    height: 150px;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid RGB(249, 201, 16);
    border-bottom: 0px;
}
.ads .title {
    border-radius: 0px 0px 10px 10px;
    border: 2px solid RGB(249, 201, 16);
}
.ads .title p {
    margin: 10px 0px 0px 15px;
}
.ads .title .price {
    font-size: 1.5em;
}
.ads img {
    position: relative;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.show-all {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    padding: 0px 20px 0px 20px;
}
.show-all img {
    position: relative;
    width: 15px;
    height: 15px;
    transform: translate(0, 10%);
}

/* footer */
.footer {
    margin: 50px auto 10px auto;
    overflow: auto;
    width: 1000px;
    text-align: center;
}
.footer ul li {
    display: inline;
    margin: 20px;
}
.footer p {
    margin-top: 50px;
}


@media (max-width: 1050px) {
    .search {
        width: 95%;
    }
    .categories {
        width: 95%;
    }
    .ads {
        width: 95%;
        padding: 0px 2% 0px 2%;
    }
    .show-all {
        width: 95%;
        padding: 0px;
    }
    .footer {
        width: 95%;
    }
}

@media (max-width: 1050px) {
    .search {
        width: 95%;
    }
    .categories {
        width: 95%;
    }
    .ads {
        width: 95%;
        padding: 0px 2% 0px 2%;
    }
    .show-all {
        width: 95%;
        padding: 0px;
    }
    .footer {
        width: 95%;
    }
    .categories ul li {
        width: 50%;
    }
    .ads article {
        width: 31.33%;
        padding-left: 3%;
    }
    .ads article:nth-child(4n+2) {
        padding-left: 3%;
    }
    .ads article:nth-child(3n+2) {
        padding-left: 0%;
    }
    .search form input[type=text] {
        padding: 0px;
        margin-bottom: 10px;
    }
    .search form input[name=search] {
        width: 100%;
    }
    .search form input[name=location] {
        width: 100%;
    }
    .search form button {
        position: relative;
        width: 100%;
        height: 2em;
        margin-top: 16px;
    }
}

@media (max-width: 800px) {
    .ads article {
        width: 48%;
        padding-left: 4%;
    }
    .ads article:nth-child(3n+2) {
        padding-left: 4%;
    }
    .ads article:nth-child(2n+2) {
        padding-left: 0%;
    }
}

@media (max-width: 700px) {
    .ads article {
        width: 100%;
        padding-left: 0%;
    }
    .ads article:nth-child(3n+2) {
        padding-left: 0%;
    }
}